<h1>HELLO MATTHEW</h1>
<h2>WELCOME TO THE DATA BASE</h2>


<img src="/images/name.jpeg"  style="width:400px;height:228px;">

<h2>WHAT DO YOU WANT TO DO?</h2>

<a href="/albums/stock" class="button">Update sales</a>
<a href="/albums" class="button">View Database</a>  
<a href="/albums/stock" class="button">Order arrival</a>
