<h1>HELLO, WELCOME TO THE DATABASE</h1>

<button type="button" onclick="alert('Hello world!')">ORDER STOCK</button>
<button type="button" onclick="alert('Hello world!')">UPDATE STOCK</button>
<button type="button" onclick="alert('Hello world!')">SALES</button>


