<!DOCTYPE html>
<html>
<head>
  <title>MATTHEW HEALY HIPSTER EMPORIUM</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  
  <link rel="icon" href="/images/note_image.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <main>
    <div class="header wrap">
    <nav>
      <ul class="main-menu">
        <li><a href="/">HOME</a></li>
        <li>
          <a href="/artists">ARTISTS</a>
        </li>
        <li>
          <a href="/genres">GENRES</a>
        </li>
        <li>
          <a href="/albums">ALBUMS</a>
        </li>
      </ul>
    </nav>
    </div>
    <section id="content" class="wrap">
      <%= yield %>
    </section>
  </main>
</body>
</html>


