table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;

}

th {
  font: helvetica;
  color: white;
  background-color: #505E63; 
  text-align: center;
  padding: 8px;
} 

td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2}