table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    text-align: center;

}


th {
  color: white;
  background-color: #505E63; 
  padding: 8px;
} 

table input[type="submit"]{
    border: 1px solid;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 4px 4px;
    font-size: 10px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2}