
<h1>ARTISTS</h1>

<table>
  <tr>
    <th>Name</th> 
    <th>Remove artist</th>   
  </tr> 
  <% for artist in @artists %>
  <tr>
    <td><a href="/artists/<%=artist.id%>/albums"><%= artist.artist_name%></a></td>
    <td><a href="/artists/<%=artist.id%>/destroy">Remove</a></td>
  </tr>
  <% end %>
</table>

<p>Total number of artists = <%=@artists.count%></p>
<p><a href="/artists/new" class="button">Add new artist></a>
