
<h1>Add new artist</h1>

<form action="/artists" method="post">

  <lable for="artist_name_field">Artist name</lable>
  <input type="text" id="artist_name_field" name="artist_name" type='text'/>

  <input type="submit" value="Add artist">
</form>